body {
    background-color: powderblue;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
}

h2 {
    font-family: Helvetica, Arial, sans-serif;
}

h3 {
    font-family: Helvetica, Arial, sans-serif;
}

p {
    font-family: Helvetica, Arial, sans-serif;
}

table {
    font-family: Helvetica, Arial, sans-serif;
}

tbody {}

th {}

tr {}

td {}

iframe {
    width: 100%;
    max-width: 600px;
    aspect-ratio: 16/9;
}

figure {}

img {
    width: 100%;
}

a {
    color: blue;
}

figcaption {
    font-family: Helvetica, Arial, sans-serif;
    font-style: italic;
}

ul {}

ol {}

li {
    font-family: Helvetica, Arial, sans-serif;
}

form {
    font-family: Helvetica, Arial, sans-serif;
}

input {}

label {}

.header ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    background: deepskyblue;
}

.header a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}

.header a:hover {
    background: blue;
}

@media all and (max-width: 500px) {
    .header ul {
        flex-direction: column;
    }
}

.mainBody {}

.partsList ul {
    display: flex;
    flex-flow: row wrap;
    padding: 0%;
    list-style: none;
    height: 100%;
}

.partsList li {
    width: 32%;
}

.partsList a {
    text-align: center;
}

#link {
    /* ID used instead of class */
    color: blue;
    font-style: italic;
}