body {
    background-color: powderblue;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
}

h2 {
    font-family: Helvetica, Arial, sans-serif;
}

h3 {
    font-family: Helvetica, Arial, sans-serif;
}

p {
    font-family: Helvetica, Arial, sans-serif;
}

table {}

tbody {}

th {}

tr {}

td {}

iframe {}

figure {}

img {}

a {
    color: blue;
}

figcaption {
    font-family: Helvetica, Arial, sans-serif;
    font-style: italic;
}

ul {}

ol {}

li {
    font-family: Helvetica, Arial, sans-serif;
}

.header ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    background: deepskyblue;
}

.header a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}

.header a:hover {
    background: blue;
}

.mainBody {}

.partsList table {
    display: grid
}

.link {}